* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #eaf2fa;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #0059b9;
  border-bottom: 3px solid #000;
  position: sticky;
  top: 0;
}

nav .judul a {
  text-decoration: none;
  font-family: "Caveat", cursive;
  color: #fff;
  font-size: 2rem !important;
  font-weight: 800 !important;
}

nav .item {
  font-family: "Science Gothic", sans-serif;
  margin-left: auto;
  display: flex;
  gap: 40px;
}

nav .item a {
  text-decoration: none;
  font-size: 15px !important;
  color: #fff;
}

nav .item a:hover {
  color: #0a2647;
}

main {
  margin-top: 2.5rem;
  font-family: "Coming Soon", cursive;
}

#aboutMe {
  scroll-margin-top: 100px;
}

.aboutMe {
  display: flex;
  margin-left: 7%;
  margin-bottom: 415px;
}

.aboutMe .about-text {
  flex: 1;
  min-width: 300px;
}

.aboutMe h1 {
  margin-top: 75px;
  font-family: "Science Gothic", sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #000;
  margin-bottom: 35px;
}

.aboutMe h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
  font-weight: 400;
  margin: 0 0 14px 0;
  color: #0a2647;
}

.aboutMe .about-text span {
  color: #0059b9;
}

.aboutMe h2::after {
  content: "";
  display: block;
  width: 600px;
  height: 2px;
  background: black;
  margin-top: 20px;
  border-radius: 4px;
}

.aboutMe p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: larger;
  color: #000;
  line-height: 1.5;
  margin-top: 18px;
  max-width: 640px;
}

.aboutMe a {
  display: inline-block;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  padding: 8px 14px;
  margin: 50px 0;
  text-decoration: none;
  font-size: 16px;
  background: #0059b9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.aboutMe a:hover {
  transform: translateY(-3px);
  background: #0a2647;
}

.aboutMe .about-img {
  width: 360px;
  margin-right: 265px;
}

.about-img .photo {
  width: 350px;
  height: 400px;
  border-radius: 10px;
  margin-top: 75px;
  border: 4px solid #0a2647;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  background: #fff;
}

#skills {
  scroll-margin-top: 50px;
}

.mySkill {
  margin-top: 80px;
  padding: 150px;
  padding-bottom: 145px;
  background-color: #0059b9;
  text-align: center;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.mySkill h1 {
  font-size: 35px;
  font-family: "Science Gothic", sans-serif;
  font-weight: bold;
  color: #eaf2fa;
  margin-bottom: 75px;
}

.mySkill h1::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: white;
  margin-top: 20px;
  border-radius: 4px;
  margin-left: 515px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 150px;
  flex-wrap: wrap;
}

.skill {
  text-align: center;
}

.skill img {
  width: 100px;
  height: 100px;
  padding: 15px;
  border-radius: 50%;
  background: #eaf2fa;
  border: 3px solid #0a2647;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3ease;
}

.skill p {
  margin-top: 25px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  font-family: system-ui;
}

.h1-project h1 {
  font-family: "Science Gothic", sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #000;
  margin-top: 100px;
  margin-bottom: 50px;
}

.h1-project h1::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: black;
  margin-top: 20px;
  border-radius: 4px;
  margin-left: 665px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 75px;
  max-width: 1200px;
  margin: auto;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  gap: 50px;
}

.project-item .text1 h2 {
  margin-bottom: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.project-item .text1 h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.project-item .text1 p {
  max-width: 640px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  color: #000;
  line-height: 1.5;
  margin-top: 20px;
}

.project-item .text1 a {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 12px;
  padding: 8px 14px;
  margin-top: 150px;
  text-decoration: none;
  font-size: 16px;
  background: #0059b9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.project-item .text1 a:hover {
  transform: translateY(-3px);
  background: #0a2647;
}

.project-item .image .photo {
  width: 325px;
  height: 350px;
  border-radius: 10px;
  border: 4px solid #0a2647;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  background: #fff;
  margin-left: 0;
}

.project-item:nth-child(2) {
  flex-direction: row-reverse;
}

.project-item .text2 {
  text-align: right;
}

.project-item .text2 h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 20px;
}

.project-item .text2 h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 20px;
}

.project-item .text2 p {
  max-width: 640px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  font-size: medium;
  color: #000;
  line-height: 1.5;
  margin-top: 18px;
}

.project-item .text2 a {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 12px;
  padding: 8px 14px;
  margin-top: 115px;
  text-decoration: none;
  font-size: 16px;
  background: #0059b9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.project-item .text2 a:hover {
  background: #0a2647;
}

.project-item .image-rt3 .photo {
  width: 455px;
  height: 325px;
  border-radius: 10px;
  border: 4px solid #0a2647;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  background: #fff;
}

.contactMe {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.contactMe-card {
  width: 75%;
  background: #0059b9;
  border-radius: 25px;
  padding: 40px;
  color: white;
}

.h1-contact {
  font-size: 32px;
  text-align: center;
  margin-bottom: 55px;
  font-family: "Science Gothic", sans-serif;
}

.contactMe-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactMe-form {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contactMe-form input,
.contactMe-form textarea {
  background: transparent;
  border: 3px solid white;
  color: white;
  padding: 12px;
  border-radius: 15px;
  outline: none;
  font-size: 16px;
}

.contactMe-form input::placeholder,
.contactMe-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.contactMe-form textarea {
  height: 140px;
  resize: none;
}

.contactMe-form button {
  width: 120px;
  padding: 10px 0;
  background: white;
  color: #0059b9;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.contactMe-form button:hover {
  background: #0a2647;
  color: white;
}

.contactMe-img {
  width: 320px;
  margin-right: 30px;
}

footer {
  text-align: center;
  padding: 15px;
  display: flex;
  background-color: #0059b9;
  color: #fff;
  margin-top: 70px;
  justify-content: space-between;
  margin: 0 !important;
}

footer p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.link a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

.link a:hover {
  color: #0a2647;
}

/* ========================= */
/*      RESPONSIVE MOBILE    */
/* ========================= */

@media (max-width: 768px) {

  /* NAVBAR */
  nav {
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
  }

  nav .item {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  /* ABOUT ME */
  .aboutMe {
    flex-direction: column;
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  .aboutMe h1 {
    margin-top: 15px;
  }

  .aboutMe h2::after {
    width: 60%;
    margin: 20px auto 0 auto;
  }

  .aboutMe .about-img {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .about-img .photo {
    width: 80%;
    height: auto;
    margin-top: 30px;
  }

  /* SKILLS */
  .mySkill {
    padding: 40px 20px;
  }

  .mySkill h1::after {
    margin-left: auto;
    margin-right: auto;
  }

  .skills-container {
    gap: 40px;
  }

  .skill img {
    width: 75px;
    height: 75px;
  }

  /* PROJECT */
  .projects-container {
    padding: 20px;
  }

  .h1-project h1::after {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .project-item {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .project-item:nth-child(2) {
    flex-direction: column;
  }

  .project-item .image .photo,
  .project-item .image-rt3 .photo {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .project-item .text1 a,
  .project-item .text2 a {
    margin-top: 30px;
  }

  /* CONTACT */
  .contactMe-content {
    flex-direction: column;
    gap: 30px;
  }

  .contactMe-form {
    width: 100%;
  }

  .contactMe-img {
    width: 85%;
    margin: 0;
  }

  /* FOOTER */
  footer {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    text-align: center;
  }

  .link a {
    margin-right: 10px;
  }
}
